<!DOCTYPE html>
<html>
<head>
    <title>خط ۱</title>
    <meta charset="utf-8"/>
    <link href="./Styles/normalize.css" rel="stylesheet" type="text/css" />
    <!-- production version, optimized for size and speed -->
    <script src="./Scripts/vue.js"></script>
    <script src="./Scripts/axios.min.js"></script>
    <link href="./Styles/style.css" rel="stylesheet" />
</head>
<body cz-shortcut-listen="true" style="">
    <!-- Elements -->
    <div id="app">
        <div  class="card-container">
            <div class="cards-col"  v-for="line in lines">
                <box v-for="box in line.items"  v-bind:box="box"></box>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script>
        //globObj Objectie ke kol linaro  to khodesh negah darande tamami line hast
        var globObj = {} ;
        //line ha to in array negahdari mishe
        globObj.lines = [];
        //line 1 va item hash
        var line1 ={
            items :  [
            {
                "city" : "تهران",
                "baghalData" : 320 ,
                "vorodData" : 50 ,
                "khorojData" : 22
            },{
                "city" : "مشهد",
                "baghalData" : 300 ,
                "vorodData" : 70 ,
                "khorojData" : 10
            },{
                "city" : "تبریز",
                "baghalData" : 710 ,
                "vorodData" : 320 ,
                "khorojData" : 119
            },{
                "city" : "اصفهان",
                "baghalData" : 112 ,
                "vorodData" : 10 ,
                "khorojData" : 8
            },{
                "city" : "هرمزگان",
                "baghalData" : 450 ,
                "vorodData" : 350 ,
                "khorojData" : 320
            }
            ]
        };
        //line 2 va ..
        var line2 ={
            items :  [
            {
                "city" : "فارس",
                "baghalData" : 182 ,
                "vorodData" : 65 ,
                "khorojData" : 12
            },{
                "city" : "بجنورد",
                "baghalData" : 90 ,
                "vorodData" : 12 ,
                "khorojData" : 4
            },{
                "city" : "مازندران",
                "baghalData" : 73 ,
                "vorodData" : 13 ,
                "khorojData" : 13
            }
            ]
        };
        var line3 ={
            items :  [
            {
                "city" : "بوشهر",
                "baghalData" : 100 ,
                "vorodData" : 12 ,
                "khorojData" : 8
            },{
                "city" : "اورومیه",
                "baghalData" : 47 ,
                "vorodData" : 32 ,
                "khorojData" : 12
            },{
                "city" : "گرگان",
                "baghalData" : 74 ,
                "vorodData" : 62 ,
                "khorojData" : 22
            },{
                "city" : "خراسان جنوبی",
                "baghalData" : 410 ,
                "vorodData" : 312 ,
                "khorojData" : 120
            },{
                "city" : "اردبیل",
                "baghalData" : 98 ,
                "vorodData" : 97 ,
                "khorojData" : 96
            },{
                "city" : "شیراز",
                "baghalData" : 170 ,
                "vorodData" : 140 ,
                "khorojData" : 135
            }
            ]
        };
        globObj.lines.push(line1,line2,line3);
        
    </script>
    <script  src="./Scripts/app.js"></script>
</body>
</html>